apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hello-world-logs
  namespace: stackgen
  labels:
    app: hello-world
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: gp3-logs

