apiVersion: v1
kind: Service
metadata:
  name: hello-world-lb
  labels:
    app: hello-world
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: LoadBalancer
  selector:
    app: hello-world
  ports:
  - name: http
    port: 80
    targetPort: 3000
    protocol: TCP

